log/*
temp/*
vendor/*
/node_modules
.idea/
!/vendor/others/
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
app/config/config.test.neon
/lessmake_local.sh
/www/src/vendor/*
/www/dist/*
*.DS_STORE

deployment*.log
!deployment.sh
yarn-error.log
